.tab__img-earth {
  max-width: 10.8125rem;
}

@media (min-width: 44.25em) {
  .tab__img-earth {
    max-width: 17.8125rem;
  }
}

@media (min-width: 78.125em) {
  .img__geology {
    margin-left: 24.94rem;
    margin-top: 29rem;
  }
  .tab__img-earth{
    max-width: 28.125rem;
    margin-left: 15.94rem;
  }
  .tab__lists {
    margin-top: 7.31rem;
  }
}
