<main>
  <div role="tablist" class="tabs">
    @for (tab of tabs; track tab){
    <button
      role="tab"
      (click)="activateTab(tab.id)"
      [attr.aria-selected]="activeTab === tab.id"
      [attr.tabindex]="activeTab === tab.id ? 0 : -1"
      [attr.aria-controls]="tab.panelId"
      class="tab__btn"
    >
      {{ tab.label }}
    </button>
    }
  </div>

  @if (activeTab === 1){
  <div
    role="tabpanel"
    id="overview"
    aria-labelledby="1"
    tabindex="0"
    [hidden]="activeTab !== 1"
  >
    <img
      ngSrc="./assets/images/planet-earth.svg"
      alt=""
      height="450"
      width="450"
      class="earth__img"
    />
    <div class="tab__content">
      <h1 class="title">Earth</h1>
      <p class="tab__para">
        Third planet from the Sun and the only known planet to harbor life.
        About 29.2% of Earth's surface is land with remaining 70.8% is covered
        with water. Earth's distance from the Sun, physical properties and
        geological history have allowed life to evolve and thrive.
        <span class="tab__source"
          >Source :<a
            href="https://en.wikipedia.org/wiki/Earth"
            class="tab__anchor"
            target="_blank"
            >Wikipedia</a
          ></span
        >
      </p>
    </div>
  </div>
  } @else if (activeTab === 2){
  <div
    role="tabpanel"
    id="internal"
    aria-labelledby="2"
    tabindex="0"
    [hidden]="activeTab !== 2"
  >
    <img
      ngSrc="./assets/images/planet-earth-internal.svg"
      alt=""
      height="450"
      width="450"
      class="earth__img"
    />
    <div class="tab__content">
      <h1 class="title">Earth</h1>
      <p class="tab__para">
        Earth's interior, like that of the other terrestrial planets, is divided
        into layers by their chemical or physical (rheological) properties. The
        outer layer is a chemically distinct silicate solid crust, which is
        underlain by a highly viscous solid mantle.
        <span class="tab__source"
          >Source :<a
            href="https://en.wikipedia.org/wiki/Earth#Internal_structure"
            class="tab__anchor"
            target="_blank"
            >Wikipedia</a
          ></span
        >
      </p>
    </div>
  </div>
  }@else if (activeTab === 3){
  <div
    role="tabpanel"
    id="surface"
    aria-labelledby="3"
    tabindex="0"
    [hidden]="activeTab !== 3"
  >
    <img
      ngSrc="./assets/images/planet-earth.svg"
      alt=""
      height="450"
      width="450"
      class="earth__img"
    />
    <img
      ngSrc="./assets/images/geology-earth.png"
      alt=""
      height="398"
      width="326"
      class="earth__img-geology"
    />
    <div class="tab__content">
      <h1 class="title">Earth</h1>
      <p class="tab__para">
        The total surface area of Earth is about 510 million km2. The
        continental crust consists of lower density material such as the igneous
        rocks granite and andesite. Less common is basalt, a denser volcanic
        rock that is the primary constituent of the ocean floors.
        <span class="tab__source"
          >Source :<a
            href="https://en.wikipedia.org/wiki/Earth#Surface"
            class="tab__anchor"
            target="_blank"
            >Wikipedia</a
          ></span
        >
      </p>
    </div>
  </div>
  }
  <ul class="tab__lists">
    <li class="list"><span class="opaque">Rotation Time</span><span class="white">0.99 Days</span></li>
    <li class="list"><span class="opaque">Revolution Time</span><span class="white">365.26 Days</span></li>
    <li class="list"><span class="opaque">Radius</span><span class="white">6,371 KM</span></li>
    <li class="list"><span class="opaque">Average Temp.</span><span class="white">16°c</span></li>
  </ul>
</main>
