$clr-white: #fff;
$clr-darkBlue: #070724;
$clr-grey-500: #38384F;
$clr-grey-300: #838391;
$clr-grey-200: #D8D8D8;

$clr-mercury: #419ebb;
$clr-venus: #eda249;
$clr-earth: #6d2ed5;
$clr-mars: #d14c32;
$clr-jupiter: #d83a34;
$clr-saturn: #cd5120;
$clr-uranus: #1ec1a2;
$clr-neptune: #2d68f0;

$clr-mercury-ball: #DEF4FC;
$clr-venus-ball: #F7CC7F;
$clr-earth-ball: #545BFE;
$clr-mars-ball: #FF6A45;
$clr-jupiter-ball: #ECAD7A;
$clr-saturn-ball: #FCCB6B;
$clr-uranus-ball: #65F0D5;
$clr-neptune-ball: #497EFA;

$clr-border: hsla(0,0%,100%,.1);

/*fonts*/

$ff-antonio: "Antonio", sans-serif;
$ff-spartan: "League Spartan", sans-serif;
