@import "../../global/variables";
@-moz-keyframes move-astronaut {
  100% {
    -moz-transform: translate(-160px, -160px);
  }
}
@-webkit-keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
  }
}
@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
    transform: translate(-160px, -160px);
  }
}
@-moz-keyframes rotate-astronaut {
  100% {
    -moz-transform: rotate(-720deg);
  }
}
@-webkit-keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
  }
}
@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}
@-moz-keyframes spin-earth {
  100% {
    -moz-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@-webkit-keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

.object_astronaut {
  animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut {
  z-index: 110 !important;
  position: absolute;
  top: 30%;
  left: 50%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}
.object_earth{
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 90;
     animation: spin-earth 100s infinite linear both;
}

main {
  display: flex;
  justify-content: center;
}

.header{
  margin-top: 8rem;
  text-transform: uppercase;
  text-align: center;
  max-width: 26rem;
  line-height: 1.5;
  font-family: $ff-spartan;
}
.big{
  display: block;
  font-size: 6rem;

  font-weight: 700;
}
a {
  text-transform: capitalize;
  font-family: $ff-spartan;
  margin-top: 1rem;
  margin-left: min( 7rem,20vw);
  max-width: 12rem;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0.5em .2em;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  color: $clr-white;
  border: $border;
}

a:active {
  color: #666;
}

a:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

a:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: $clr-uranus;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

a:hover {
  border: 1px solid $clr-uranus;
}

a:hover:before {
  top: -35%;
  background-color: $clr-uranus;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

a:hover:after {
  top: -45%;
  background-color: $clr-uranus;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
