@import "../global/variables";

.logo {
  font-family: $ff-antonio;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.06563rem;
  text-transform: uppercase;
  margin-left: 1.5rem;
  margin-top: 0.87rem;
}

a {
  color: $clr-white;
  font-family: $ff-spartan;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

@media (max-width: 44.25em) {
  .flex-group {
    display: flex;
    justify-content: space-between;
    border-bottom:  $border;
    padding-bottom: 1rem;
  }
  .menu-btn {
    border: 0;
    outline: 0;
    width: 1.5rem;
    background: url("../assets/images/icon-hamburger.svg") no-repeat;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
  }
  .menu-btn[aria-expanded="true"] {
    background: url("../assets/images/icon-close.svg") no-repeat;
  }
  .primary-nav {
    transform: translateX(100%);
    max-height: 0;
    transition: all 350ms ease-out;
    overflow: hidden;
  }
  .primary-nav[data-visible="true"] {
    margin-bottom: 2rem;
    transition: all 350ms ease-out;
    transform: translateX(0%);
    max-height: 100%;
  }
  li {
    margin-left: 4.25rem;
    margin-top: 2.56rem;
    border-bottom:  $border;
    padding-bottom: 1.25rem;
    width: 15rem;
  }
  a {
    font-size: 0.9375rem;
    letter-spacing: 0.08525rem;
  }
  a::before {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    margin-left: -2.5rem;
  }
  .arrow {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url("../assets/images/icon-chevron.svg") no-repeat;
  }

  .mercury::before {
    background-color: $clr-mercury-ball;
  }
  .venus::before {
    background-color: $clr-venus-ball;
  }
  .earth::before {
    background-color: $clr-earth-ball;
  }
  .mars::before {
    background-color: $clr-mars-ball;
  }
  .jupiter::before {
    background-color: $clr-jupiter-ball;
  }
  .saturn::before {
    background-color: $clr-saturn-ball;
  }
  .uranus::before {
    background-color: $clr-uranus-ball;
  }
  .neptune::before {
    background-color: $clr-neptune-ball;
  }
}

@media (min-width: 44.25em) {
  .logo {
    margin: 2rem 0 2.4rem;
    display: flex;
    justify-content: center;
    opacity: 1;
  }
  .primary-nav {
    display: flex;
    justify-content: center;
    gap: 2.06rem;
    padding-bottom: 1.69rem;
    border-bottom: $border;
  }
  .menu-btn {
    display: none;
  }
  .mercuryActive {
    border-bottom: 3px solid $clr-mercury;
    opacity: 1;
  }
  .venusActive {
    border-bottom: 3px solid $clr-venus;
    opacity: 1;
  }
  .earthActive {
    border-bottom: 3px solid $clr-earth;
    opacity: 1;
  }
  .marsActive {
    border-bottom: 3px solid $clr-mars;
    opacity: 1;
  }
  .jupiterActive {
    border-bottom: 3px solid $clr-jupiter;
    opacity: 1;
  }
  .saturnActive {
    border-bottom: 3px solid $clr-saturn;
    opacity: 1;
  }
  .uranusActive {
    border-bottom: 3px solid $clr-uranus;
    opacity: 1;
  }
  .neptuneActive {
    border-bottom: 3px solid $clr-neptune;
    opacity: 1;
  }
}

@media (min-width: 78.125em) {
  header {
    display: flex;
    justify-content: space-between;
    border-bottom: $border;
  }
  .logo {
    margin: 1.37rem 0 0 2rem;
  }
  .primary-nav {
    margin-top: 2.06rem;
    margin-right: 2.56rem;
    border: none;
  }
}
