<header>
  <div class="flex-group">
    <div class="logo">the planets</div>
    <button
      class="menu-btn"
      aria-controls="primary-nav"
      [attr.aria-expanded]="state"
      (click)="toggle()"
    >
      <span class="screen-reader">Manu</span>
    </button>
  </div>
  <nav>
    <ul class="primary-nav" id="primary-nav" [attr.data-visible]="state">
      <li *ngFor="let anchor of anchors">
        <a
          [class]="anchor.name"
          [routerLink]="anchor.routerLink"
          [routerLinkActive]="anchor.routerLinkActive"
          ariaCurrentWhenActive="page"
          (click)="state = false"
          >{{ anchor.name }}</a
        >
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
