<main>
  <div role="tablist" class="tabs">
    @for (tab of tabs; track tab) {
    <button
      role="tab"
      (click)="activateTab(tab.id)"
      [attr.aria-selected]="activeTab === tab.id"
      [attr.tabindex]="activeTab === tab.id ? 0 : -1"
      [attr.aria-controls]="tab.panelId"
      class="tab__btn tab__btn-uranus"
    >
      {{ tab.label }}
      <span class="sr-only all">{{ tab.hidden }}</span>
    </button>
    }
  </div>

  @if (activeTab === 1) {
  <div
    role="tabpanel"
    id="overview"
    aria-labelledby="1"
    tabindex="0"
    [hidden]="activeTab !== 1"
    class="tab__panel"
  >
    <img
      ngSrc="./assets/images/planet-uranus.svg"
      alt=""
      height="450"
      width="450"
      class="tab__img tab__img-uranus"
      priority="true"
    />
    <div class="tab__content">
      <h1 class="title">uranus</h1>
      <p class="tab__para">
        Uranus is the seventh planet from the Sun. Its name is a reference to
        the Greek god of the sky, Uranus according to Greek mythology, was the
        great-grandfather of Ares. It has the third-largest planetary radius and
        fourth-largest planetary mass in the Solar System.
        <span class="tab__source"
          >Source :<a
            href="https://en.wikipedia.org/wiki/uranus"
            class="tab__anchor"
            target="_blank"
            >Wikipedia</a
          ></span
        >
      </p>
    </div>
  </div>
  } @else if (activeTab === 2) {
  <div
    role="tabpanel"
    id="internal"
    aria-labelledby="2"
    tabindex="0"
    [hidden]="activeTab !== 2"
    class="tab__panel"
  >
    <img
      ngSrc="./assets/images/planet-uranus-internal.svg"
      alt=""
      height="450"
      width="450"
      class="tab__img tab__img-uranus"
    />
    <div class="tab__content">
      <h1 class="title">uranus</h1>
      <p class="tab__para">
        The standard model of Uranus's structure is that it consists of three
        layers: a rocky (silicate/iron–nickel) core in the centre, an icy mantle
        in the middle and an outer gaseous hydrogen/helium envelope. The core is
        relatively small, with a mass of only 0.55 Earth masses.
        <span class="tab__source"
          >Source :<a
            href="https://en.wikipedia.org/wiki/uranus#Internal_structure"
            class="tab__anchor"
            target="_blank"
            >Wikipedia</a
          ></span
        >
      </p>
    </div>
  </div>
  } @else if (activeTab === 3) {
  <div
    role="tabpanel"
    id="surface"
    aria-labelledby="3"
    tabindex="0"
    [hidden]="activeTab !== 3"
    class="tab__panel"
  >
    <img
      ngSrc="./assets/images/planet-uranus.svg"
      alt=""
      height="450"
      width="450"
      class="tab__img tab__img-uranus"
    />
    <img
      ngSrc="./assets/images/geology-uranus.png"
      alt=""
      height="398"
      width="326"
      class="img__geology"
    />
    <div class="tab__content">
      <h1 class="title">uranus</h1>
      <p class="tab__para">
        The composition of Uranus's atmosphere is different from its bulk,
        consisting mainly of molecular hydrogen and helium. The helium molar
        fraction, i.e. the number of helium atoms per molecule of gas, is
        0.15±0.03 in the upper troposphere.

        <span class="tab__source"
          >Source :<a
            href="https://en.wikipedia.org/wiki/uranus#Surface"
            class="tab__anchor"
            target="_blank"
            >Wikipedia</a
          ></span
        >
      </p>
    </div>
  </div>
  }

  <ul class="tab__lists">
    <li class="list">
      <span class="opaque">Rotation Time</span
      ><span class="white">17.2 Hours</span>
    </li>
    <li class="list">
      <span class="opaque">Revolution Time</span
      ><span class="white">84 Years</span>
    </li>
    <li class="list">
      <span class="opaque">Radius</span><span class="white">25,362 KM</span>
    </li>
    <li class="list">
      <span class="opaque">Average Temp.</span><span class="white">-195°c</span>
    </li>
  </ul>
</main>
